body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: aliceblue;
    margin-top: 160px;
}

h1 {
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 20px;
    text-shadow: 0px 0px 5px black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0px 0px 5px black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #85C7F2;
    border: 2px solid aliceblue;
    box-shadow: 0px 0px 3px black;
    
}

#save-btn {
    background: #136F63;
    border: 2px solid aliceblue;
    box-shadow: 0px 0px 3px black;
}

.container{
    background-image: url("borabora.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    height: 600px;
    margin: auto auto;
    border-radius: 10px;
    border: 4px solid darkblue;
}

h1{
    padding: 20px;
    text-shadow: 0px 0px 5px black;
}

.btn-container{
    flex-direction: row;
}

p{
    padding: 10px;
    border-radius: 6px;
    text-shadow: 0px 0px 5px #000;
    background-color: #7C9EB2;
    border: 2px solid aliceblue;
}

